<!DOCTYPE html>
<html>
<head>
	<title>E-COM | Register Employee Information</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="icon" href="{% static 'templates/Images/Logo.png' %}" type="image/gif" sizes="8x6">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
	body
	{
		font-family: avenir;
		
	}
</style>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">
	<img src="{% static 'templates/Images/Logo.png' %}" alt="Logo" width="30" height="23" class="d-inline-block"> E-COM
	</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/EmpInfo">Employee Info</a>
		</li>
        <li class="nav-item">
          <a class="nav-link" href="/AboutUs">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<div class="card" style="width: 18rem;">
    <img src="{% static 'templates/Images/F1.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">LEE KAR CHUN</h5>
      <p class="card-text">Code Developer</p>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'templates/Images/F2.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">CHIN LI YEN</h5>
      <p class="card-text">UI / UX Designer</p>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'templates/Images/F8.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">CHIA MAN HANG</h5>
      <p class="card-text">Debugger</p>
    </div>
  </div>
<hr>
</div>
</div>
<p class="mt-1 mb-1 text-muted text-center"><strong>E-Com</strong> Copyright &copy; 2019 - <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
<p class=" mb-2 text-muted text-center">Powered By <img height="20px" width="38px" src="{% static 'templates/Images/Logo.png' %}"></p>
				
</div>
</body>
</html>
